body {
    background: #1e1e1e;
}

.text {
    color: white;
    font-size: 5vh;
}

.block {
    position: fixed;
    right: 0;
    bottom: 0;
}

.red-ball {
    position: absolute;
    top: -50px;
    left: 105px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: red;
}

.white-block {
    width: 50vw;
    height: 100px;
    margin-right: 50px;
    margin-bottom: 100px;
    background: #b9abab;
    border-radius: 10px
}