body {
    background: #393737;
    color: white;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    position: relative;
    margin-top: 70px;
}

h1::before {
    content: "";
    background: #f95454;
    border: 5px solid white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    left: 650px;
}
h1::after {
    content: "";
    background: #623bed;
    border: 5px solid white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    right: 650px;
}

