* {
    box-sizing: border-box;
}
/* =============================================== */

.main {
    display: block;
    max-height: 500px;
    overflow: auto;

    background: #f4efef;
    border: 1px solid black;
    border-radius: 25px 0 0 25px;
}

.card {
    display: inline-block;
    border-radius: 25px;
    box-shadow: 0 0 5px inset black;
    background: #eebc79;

    width: 245px;
    height: 205px;
    margin: 10px 5px 10px 3px;
    padding: 20px 25px;
}